{% extends 'hospital/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Xin Chào, Bệnh Nhân</h1>
  <p class="lead">Chào mừng bạn đến với Hệ thống quản lý bệnh viện.</p>
  <hr class="my-4">
  <p>Bạn có thể truy cập các tính năng khác nhau sau khi Đăng nhập/Đăng Ký.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Đăng ký tài khoản của bạn</a>
    <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Đăng nhập</a>
  </p>
</div>

{% endblock content %}
